html, body {
    background: rgb(250, 255, 255);
}

/* home page */
.home {
    max-width: 600px;
    margin: 100px auto;
    padding: 24px;
    text-align: center;
}
.home_title_accent {
    font-weight: 700;
    /* font-style: italic; */
    background: rgb(8, 146, 192); /* linear-gradient(90deg, rgb(30, 180, 225), rgb(8, 146, 192)); */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.title_wrap {
    display: block;
    min-height: 60px;
}
.subtitle_wrap {
    display: block;
    min-height: 60px;
    margin-bottom: 16px;
}

.home_title {
    font-size: 36px;
    font-weight: 600;
    color: rgb(40, 40, 40);
    display: inline-block;
    position: relative;
}
.home_subtitle {
    font-size: 22px;
    color: rgb(85, 85, 85);
    display: inline-block;
    position: relative;
    /* add gap on bottom */
}

/* solid cursor while typing */
.cursor-solid {
    display: inline-block;
    width: 3px;
    height: 1em;
    background-color: rgb(30, 180, 225);
    margin-left: 2px;
    vertical-align: middle;
    transform: translateY(-2px);
}

/* hide cursor */
.cursor-end {
    display: inline-block;
    width: 3px;
    height: 1em;
    margin-left: 2px;
    vertical-align: middle;
    background-color: rgb(30, 180, 225);
    opacity: 0;
    transform: translateY(-2px);
}
.cursor-end.visible {
    opacity: 1;
    animation: blink 0.75s step-end 3 forwards;
}
.cursor-end.hidden {
    opacity: 0;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

/* quick options */
.quick_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-top: 32px;
}
.quick_opt {
    background: rgb(250, 255, 255);
    border-radius: 20px;
    border: 1.5px solid #e0e0e0;
    color: rgb(40, 40, 40);
    padding: 8px 14px;
    font-size: 14.5px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.4s;
}
.quick_opt:hover {
    border-color: rgb(30, 180, 225);
    background: rgba(30, 180, 225, 0.2);
}